x-logging: &x-logging
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "10m"

services:
  youtube-api:
    hostname: youtube-api
    container_name: youtube-api
    <<: *x-logging
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./cache:/app/cache
    environment:
      # API Paths
      - _APP_ROOT_PATH
      - _APP_API_PREFIX

      # Cache
      - _APP_CACHE_DIR
      - _APP_MAX_CACHE_SIZE_MB
      - _APP_CACHE_TTL_DAYS

      # Functionality
      - _APP_DEFAULT_LANGUAGE
      - _APP_USE_CACHE_DEFAULT

      # API Key Authentication
      - _APP_X_API_KEY
      - _APP_X_API_KEY_HEADER

      # System
      - _APP_LOG_LEVEL
      - _APP_PORT

